body{
    margin: auto;
    width: 75%;
    background-color: dimgrey;
    }


form {
    padding-top: 50px;
    padding-bottom: 50px;
}

label {
    font-weight: bold;
    color: lightgray;
    letter-spacing: .75px;
}