/* * The Bootstrap portfolio should minimize the use of media queries. */

body{
    background-color: dimgrey;
    }
 
a {
    margin-top: 3px;
    margin-left: 7px;
    margin-right: 7px;
    float: right;    
}   

main {
    margin: auto;
    width: 85%;
    padding-top: 25px;
}

.card {
    border-radius: 0px;
    border-width: 0px;
    background-color: dimgray;
}

.col-sm-4 {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 15px;
    border-radius: 0px;
    border-width: 0px;
    
    background-color: dimgrey;
}

.p-3 {
    background-color: #740001;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}